<aside>
	<div class="container">
		<nav>
			<ul>
				{% for page in site.pages %} {% if page.title %}
				<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
				{% endif %} {% endfor %}
			</ul>
			</li>
			</ul>
		</nav>
	</div>
</aside>


<head>
<style>
	.container {
  		position: absolute;
 		text-align: center;
  		color: black;
	}

	.centered {
  		position: static;
  		top: 50%;
  		left: 30%;
		font-size: 90px;
  		transform: translate(50%, -300%);
	}

	img {
	  opacity: 0.4;
	}
</style>
</head>
<body>
	<div class="container">
		<img src="backimg.jpg" style="width:200%;">
		<div class="centered">Shreya Boyapati</div>
	</div>	
</body>